@tailwind base;

@tailwind components;

@tailwind utilities;

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spins {
  animation: spin 2s linear infinite;
}

body {
  flex: 1;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}